@model string

<div class="alert alert-info alert-dismissible fade show mb-3" role="alert">
    Hello, <strong>@Model</strong>!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
